* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    /* colour variables */
    --bg-colour: #282828;
    --bg-4: #7c6f64;
    --white: #ebdbb2;
    --red: #cc241d;
    --blue: #458588;
    --green: #98971a;
    --purple: #b16286;
}
html, body {
    height: 100%;
    background-color: var(--bg-colour);
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%:
}
h1 {
    font-size: 4em;
    color: var(--white);
    padding: 2em;
}
.planet {
    background-color: var(--red);
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
